.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: green;
}
